html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #1a1d23;
}

html {
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --highlight: #ff57b2;
  --heading: #f8f8f8;
  --background: #1a1d23;
  --info: #bbbbbb;
  --body: #d7d7d7;
}
